* {
   box-sizing: border-box;
   
}
img.baback {
  position: absolute;
  top: 1px;
  z-index: -300;
     width: 1500px;
     height: 800px;
}

body {
   margin: 0;
   padding: 0;
   font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
}

header {
   padding: 7px 4% 10px;
   position: fixed;
   top: 0;
   width: 100%;
   background-color: rgba(160, 192, 244, 0.9);
   display: flex;
   z-index: 10000;
   align-items: center;
}
header h1 {
       margin: 0; padding: 0;
       font-size: 40px;
       padding-left: 5%;
       padding-right: 200px;
       

}
header a {	
   text-decoration: none;
   color: #4b4b4b;
}
header ul {
   list-style: none;
   margin: 0;
   display: flex;
}
header li {
   margin: 0 0 0 90px;
   font-size: 20px;
  
}

img.roundimg {
  position: absolute;
  top: 300px;
  left: 100px;
  border-radius: 50%;
  width: 400px;
  height: 350px;
  z-index: 2;
}
.ABOUT {
   padding-left: 60%;
   padding-top: 400px;
}