* {
   box-sizing: border-box;
   
}
img.baback {
  position: absolute;
  top: 1px;
  z-index: -300;
     width: 1300px;
     height: 800px;
}

body {
   margin: 0;
   padding: 0;
   font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
}

header {
   padding: 7px 4% 10px;
   position: fixed;
   top: 0;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.9);
   display: flex;
   z-index: 10000;
   align-items: center;
   
}
header h1 {
       margin: 0; padding: 0;
       font-size: 40px;
       padding-left: 5%;
       padding-right: 200px;
       color: rgb(255, 255, 255);

}
header a {	
   text-decoration: none;
   color: #ffffff;
}
header ul {
   list-style: none;
   margin: 0;
   display: flex;
}
header li {
   margin: 0 0 0 90px;
   font-size: 20px;
  
}

img.roundimg {
  position: absolute;
  top: 250px;
  left: 180px;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  z-index: 2;
}
.ABOUT {
   padding-left: 60%;
   padding-top: 280px;
}
.ABOUT h1 {
   font-size: 2rem;
}
.ABOUT h3 {
   font-weight: 500;
}

.works {
   height: 2000px;
   width: 1300px;
   position: relative;
   padding-top: 800px;
}

img.work1 {
   width: 500px;
   position: absolute;
   bottom: 1200px;
   left: 45%;
}
img.red {
   border-radius: 50%;
   z-index: -301;
   overflow: hidden;
   position: absolute;
   bottom: 1000px;
   left: 400px;
   width: 900px;

}

.work1 h1 {
   position: absolute;
   bottom: 1300px;
   left: 200px;
   font-size: 150px;

}
.work1 h2 {
   position: absolute;
   bottom: 1150px;
   font-size: 40px;
   left: 150px;
}

.work2 {
   position: relative;
   
}
img.work2 {
   width: 500px;
   margin-top: 450px;
   left: 50px;
}
.work2 h1 {
   position: absolute;
   top: 250px;
   font-size: 150px;
   left: 730px;
}
.work2 h2 {
   position: absolute;
   font-size: 40px;
   top: 600px;
   left: 650px;
   opacity: 0.8;
}
img.g1 {
      position: absolute;
      border-radius: 50%;
      z-index: -400;
      opacity: 0.8;
      width: 550px;
      top: 280px;
      left: 600px;
   }
img.g2 {
   position: absolute;
   border-radius: 50%;
   z-index: -400;
   width: 750px;
   left: -50px;
   top: 300px;
   opacity: 0.8;
}
img.g3 {
   position: absolute;
   border-radius: 50%;
   z-index: -400;
   opacity: 0.6;
   width: 350px;
   left: 550px;
   top: 800px;
}
img.g4 {
   position: absolute;
   border-radius: 50%;
   z-index: -360;
   width: 150px;
   opacity: 0.5;
   top: 900px;
   left: 60px;
}
img.g4-2 {
   position: absolute;
   border-radius: 50%;
   z-index: -360;
   width: 120px;
   opacity: 0.5;
   top: 550px;
   left: 880px;
}
.work3  {
   position: relative;
   height: 600px;
}
