* {
   box-sizing: border-box;
   
}
img.baback {
  position: absolute;
  top: 1px;
  z-index: -300;
     width: 1500px;
     height: 800px;
}

body {
   margin: 0;
   padding: 0;
   font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
}

header {
   padding: 7px 4% 10px;
   position: fixed;
   top: 0;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.9);
   display: flex;
   z-index: 10000;
   align-items: center;
   
}
header h1 {
       margin: 0; padding: 0;
       font-size: 40px;
       padding-left: 5%;
       padding-right: 200px;
       color: rgb(255, 255, 255);

}
header a {	
   text-decoration: none;
   color: #ffffff;
}
header ul {
   list-style: none;
   margin: 0;
   display: flex;
}
header li {
   margin: 0 0 0 90px;
   font-size: 20px;
  
}

img.roundimg {
  position: absolute;
  top: 250px;
  left: 180px;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  z-index: 2;
}
.ABOUT {
   padding-left: 60%;
   padding-top: 280px;
}
.ABOUT h1 {
   font-size: 2rem;
}
.ABOUT h3 {
   font-weight: 500;
}

.works {
   height: 2000px;
   width: 1300px;
   position: relative;
   padding-top: 800px;
}

img.work1 {
   width: 500px;
   position: absolute;
   bottom: 1200px;
   left: 65%;
   
}

@keyframes biku{
   0% {
      width: 900px;
      right: -320px;
   }
   20% {
      width: 900px;
      bottom: 1000px;
      right: -320px;
   }
   22% {
      width: 1050px;
      bottom: 900px;
      right: -390px;
      
   }
   38% {
      width: 900px;
      bottom: 1000px;
      right: -320px;
   }
   60% {width: 900px;
      bottom: 1000px;
      right: -320px;
   }
   62% {width: 1050px;
      bottom: 900px;
      right: -390px;
   }
   67% {width: 900px;
      bottom: 1000px;
      right: -320px;
   }
   69% {width: 1050px;
      bottom: 900px;
      right: -390px;
   }
   85%{width: 900px;
      bottom: 1000px;
      right: -320px;
      }
}

img.red {
   border-radius: 50%;
   z-index: -301;
   overflow: hidden;
   position: absolute;
   bottom: 1000px;
   right: -320px;
   width: 900px;
   animation-name: biku;
   animation-duration: 7s;
   animation-iteration-count: infinite;
}

.work1 h1 {
   position: absolute;
   bottom: 1300px;
   left: 300px;
   font-size: 150px;

}
.work1 h2 {
   position: absolute;
   bottom: 1150px;
   font-size: 50px;
   left: 200px;
}

.work2 {
   position: relative;
   
}
img.work2 {
   width: 500px;
   margin-top: 450px;
   left: 50px;
}
.work2 h1 {
   position: absolute;
   top: 250px;
   font-size: 150px;
   left: 70%;
}
.work2 h2 {
   position: absolute;
   font-size: 40px;
   top: 600px;
   left: 60%;
   opacity: 0.8;
}
img.g1 {
      position: absolute;
      border-radius: 50%;
      z-index: -400;
      opacity: 0.8;
      width: 550px;
      top: 280px;
      left: 50%;
      animation-name: ag1;
      animation-iteration-count: infinite;
      animation-duration: 9s;
      animation-delay: 1s;
   }
   @keyframes ag1 {
      0% {
         top: 280px;
         
      }
      10% {
         width: 550px;
      }
      50% {
         top: 310px;
      }
      55% {
         width: 520px;
      }
      90% {
         width: 550px;
      }
      100% {
         top: 280px;
      }
   }
img.g2 {
   position: absolute;
   border-radius: 50%;
   z-index: -400;
   width: 750px;
   left: -50px;
   top: 300px;
   opacity: 0.8;
   animation-name: ag2;
   animation-duration: 8s;
   animation-iteration-count: infinite;
}
@keyframes ag2 {
   0% {
      top: 285px;
   }
   50% {
      top: 315px;
   }
   100% {
      top: 285px;
   }
}
img.g3 {
   position: absolute;
   border-radius: 50%;
   z-index: -400;
   opacity: 0.6;
   width: 350px;
   left: 55%;
   top: 800px;
   animation-name: ag3;
   animation-duration: 4s;
   animation-iteration-count: infinite;
}
@keyframes ag3 {
   0% {
      top: 825px;
      
   }
   10% {
      width: 350px;
   }
   50% {
      top: 775px;
   }
   55% {
      width: 330px;
   }
   90% {
      width: 350px;
   }
   100% {
      top: 825px;
   }
}
img.g4 {
   position: absolute;
   border-radius: 50%;
   z-index: -360;
   width: 120px;
   opacity: 0.5;
   top: 950px;
   left: 60px;
   animation-name: ag4;
   animation-duration: 3.5s;
   animation-iteration-count: infinite;

}
img.g4-2 {
   position: absolute;
   border-radius: 50%;
   z-index: -360;
   width: 120px;
   opacity: 0.5;
   top: 550px;
   left: 90%;
   animation-name: ag4;
   animation-duration: 2.5s;
   animation-iteration-count: infinite;
   animation-delay: 1s;
}
@keyframes ag4 {
   50% {
      width: 120px;
   }
   70% {
      
      width: 130px;
   }
}
img.g5 {
      position: absolute;
      border-radius: 50%;
      z-index: -400;
      opacity: 0.4;
      width: 300px;
      left: 87%;
      top: 700px;
      animation-name: ag5;
      animation-duration: 6.5s;
      animation-iteration-count: infinite;
}
@keyframes ag5 {
   0%{
      height: 300px;
      top: 700px;
   }
   50% {
      width: 300px;
      height: 260px;
      top: 770px;
   }

   100% {
      height: 300px;
      top: 700px;
   }
}

.work3  {
   position: relative;
   padding-top: 400px;
}
img.work-3 {
   width: 500px;
   position: absolute;
   left: 65%;
   padding-bottom: 200px;
   top: 700px;
   
}
.work3 h1 {
   position: absolute;
   left: 200px;
   font-size: 150px;
   top: 470px;
}
.work3 h2 {
   position: absolute;
   font-size: 35px;
   left: 150px;
   top: 800px;
}
img.gx1 {
   position: absolute;
   z-index: -200;
   width: 250px;
   height: 2000px;
   transform: rotate(65deg);
   top: -550px;
   left: 500px;
   animation-name: agx;
   animation-duration: 8s;
   animation-iteration-count: infinite;
}
.trim {
   position: relative;
   overflow: hidden;
   width: 1600px;
   height: 950px;
   top: 100px;
   
}
img.gx2 {
   position: absolute;
   z-index: -201;
   width: 200px;
   height: 1700px;
   transform: rotate(-40deg);
   top: -300px;
   left: 500px;
   animation-name: agx;
   animation-duration: 8s;
   animation-iteration-count: infinite;
   animation-delay: 0.5s;
}
@keyframes agx {
   0% {
      width: 0px;
      opacity: 0;;

   }
   5% {
      width: 0px;
   }
   10% {
      width: 3px;
   }
   35% {
      width: 3px;
      
   }
   37% {
      width: 200px;
      opacity: 0.5;
   }
   40% {
      opacity: 1;
   }
   90% {
      opacity: 1;
      width: 200px;
   }
   100% {
      width: 300px;
      opacity: 0;;
   }
}

.footer {
   position: absolute;
   padding: 7px 4%70px;
   top: 3500px;
   width: 1699px;
   background-color: rgba(0, 0, 0, 0.9);
   z-index: 10000;
   align-items: center;
}
